{% extends "base.j2" %}

{% block main %}
<h1>Welcome to My Website</h1>
<div class="pull-right">
	<img src="http://www.gravatar.com/avatar/882fea3f994a649328155e5ab2316b7f?s=200" alt="Harry Reeder">
</div>
Hi, I'm Harry Reeder.

I'm a software engineer, currently working for IBM UK Ltd, for my placement year, while studying Software Engineering at [Edinburgh Napier University](http://www.napier.ac.uk).

With IBM, I currently work with the [CRYSTAL Project](http://crystal-artemis.eu/), and do a lot of work with [OSLC](http://open-services.net/).

I love to code, and especially so in Python, at the moment. I've also had varying experience in PHP, .NET, C++, Ruby and Java. Some of these have been primarily through my university course, some of these have been projects which I have used to learn the language in my own time.

You can also find me in the following places:
 
+ [GitHub](https://github.com/hreeder)
+ [BitBucket](https://bitbucket.org/hreeder)
+ [Twitter](https://twitter.com/harry_reeder)
+ [LinkedIn](https://uk.linkedin.com/in/hreeder)
{% endblock %}